{% extends "layout.html" %}
{% set active_page = "nodes" %}
{% set subtitle = "Nodes" %}

{% block head %}
<script src={{url_for('static', filename='js/nodes.js')}}></script>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default" id="list">
      <div class="panel-heading">
        Nodes
      </div>
      <div data-bind="foreach: nodes" class="list-group">
        <a data-bind="text: $data, css: {active: $root.selected_node() == $data}, click: $parent.switch_node"
          class="list-group-item" href="#"></a>
      </div>
    </div><!--./panel-->
  </div>
  <div class="col-md-8">
    <div class="panel panel-info" data-bind="with: node" id="details">
      <div class="panel-heading">
        <span data-bind="text: name"></span>
        <button class="btn btn-primary btn-xs pull-right"
          data-bind="click: $parent.update_node">
          <span class="glyphicon glyphicon-refresh"></span></button>
      </div>
      <dl class="dl-horizontal">
        <dt>Last update</dt><dd data-bind="text: formatted_updated_at"></dd>
      </dl>
      <hr/>
      <div class="panel-body">
        <pre data-bind="text: status_text, highlight:1"></pre>
      </div>
    </div><!--./panel-->
  </div>
</div>
{% endblock %}
