<!DOCTYPE html>
{% extends "layout.html" %}
{% set active_page = "nodes" %}
{% set subtitle = "Nodes" %}

{% block head %}
<script src={{url_for('static', filename='js/nodes.js')}}></script>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Nodes
      </div>
      <div data-bind="foreach: nodes" class="list-group">
        <a data-bind="text: $data, css: {active: $root.selected_node() == $data}"
          class="list-group-item" href="#"></a>
      </div>
    </div><!--./panel-->
  </div>
  <div class="col-md-8">
    <div class="panel panel-info" data-bind="with: node">
      <div class="panel-heading">
        <span data-bind="text: name"></span>
        <button class="btn btn-primary btn-xs" data-bind="click: $parent.update_node">
          <span class="glyphicon glyphicon-refresh"></span></button>
      </div>
      <div class="panel-body">
        <pre data-bind="text: status_text"></pre>
      </div>
    </div><!--./panel-->
  </div>
</div>
{% endblock %}
